<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Student Info</title>
        <style>
            th,td{
                border: 1px black solid;
            }
            .success{
                background-color:yellow;
                color:black;
            }
        </style>
    </head>
    <body>
        <h1>Student Info</h1>
        {% if messages %}
            {% for msg in messages %}
                <span class='success'>{{msg}}</span>
            {% endfor %}
        {% endif %}

        {% if stud_details %}
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Mail</th>
                <th>Phone</th>
                <th>Gender</th>
                <th>Address1</th>
                <th>Address2</th>
                <th>City</th>
                <th>Link</th>
            </tr>
            {% comment %} {% for st in stud_details %} {% endcomment %}
            <tr>
                <td>{{stud_details.uid}}</td>
                <td>{{stud_details.name}}</td>
                <td>{{stud_details.mail}}</td>
                <td>{{stud_details.phone}}</td>
                <td>{{stud_details.gender}}</td>
                <td>{{stud_details.add1}}</td>
                <td>{{stud_details.add2}}</td>
                <td>{{stud_details.city}}</td>
                <td><a href="{% url 'std_detail' stud_details.uid %}">view data</a></td>
            </tr>
            {% comment %} {% endfor %} {% endcomment %}
        </table>
        <br>
        <a href="/app2/register/">Register New Student</a>
        {% else %}
            <h3>No Data Available</h3>
        {% endif %}
    </body>
</html>