<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Student Info</title>
        <style>
            th,td{
                border: 1px black solid;
            }
        </style>
    </head>
    <body>
        <h1>Student Info</h1>
        {% for msg in messages %}
            {{msg}}
        {% endfor %}
        
        {% if stud_details %}
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Mail</th>
                <th>Phone</th>
                <th>Gender</th>
                <th>Address1</th>
                <th>Address2</th>
                <th>City</th>
                <th>Link</th>
            </tr>
            {% for st in stud_details %}
            <tr>
                <td>{{st.uid}}</td>
                <td>{{st.name}}</td>
                <td>{{st.mail}}</td>
                <td>{{st.phone}}</td>
                <td>{{st.gender}}</td>
                <td>{{st.add1}}</td>
                <td>{{st.add2}}</td>
                <td>{{st.city}}</td>
                <td><a href="{% url 'std_detail' st.uid %}">view data</a></td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <a href="/app2/register/">Register New Student</a>
        {% else %}
            <h3>No Data Available</h3>
        {% endif %}
    </body>
</html>