<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Student Registration Form</title>
        <style>
            th,td {border: 1px black solid;}
            .errorlist:after {
                list-style-type: None;
                color:red;
            }
            .star:after {
                content:"* ";
                color: red;
              }
        </style>
    </head>
    <body>
        <h1>Student Info</h1>
        {% comment %} <form action='' method='GET'> {% endcomment %}
        <form action='' method='POST' novalidate>
            {% csrf_token %}
            {% if std_form.errors %}
                {% for field in std_form.visible_fields %}
                    {% for error in field.errors %}
                        <p class='errorlist'> {{ error }} </p>
                        {{break}}
                    {% endfor %}
                {% endfor %}
            {% endif %}
            
            {% comment %} <table>
                {% for field in std_form.visible_fields %}
                    <tr> 
                        <td><label class='star'> {{field.label_tag}} </label></td>
                        <td>{{field}}<br/> </td>
                    </tr>
                {% endfor %}
            </table> {% endcomment %}
            {% comment %} {% for field in std_form.hidden_fields %}
                {{field.label_tag}}
                {{field}}<br/>
            {% endfor %} {% endcomment %}
            <table>
                <tr>
                    <td><label class='star'>{{std_form.uid.label_tag}}</label></td>
                    <td>{{std_form.uid}}
                </tr>
                <tr>
                    <td><label class='star'>{{std_form.name.label_tag}}</label></td>
                    <td>{{std_form.name}}
                </tr>
                <tr>
                    <td><label class='star'>{{std_form.add1.label_tag}}</label></td>
                    <td>{{std_form.add1}}
                </tr>
                <tr>
                    <td>{{std_form.add2.label_tag}}</label></td>
                    <td>{{std_form.add2}}
                </tr>
                <tr>
                    <td><label class='star'>{{std_form.city.label_tag}}</label></td>
                    <td>{{std_form.city}}
                </tr>
                <tr>
                    <td><label class='star'>{{std_form.mail.label_tag}}</label></td>
                    <td>{{std_form.mail}}
                </tr>
                <tr>
                    <td><label class='star'>{{std_form.phone.label_tag}}</label></td>
                    <td>{{std_form.phone}}
                </tr>
                <tr>
                    <td><label class='star'>{{std_form.gender.label_tag}}</label></td>
                    <td>{{std_form.gender}}
                </tr>
                <tr>
                    <td>Hobbies: </td>
                    <td>
                    {{std_form.hobby1}}
                    {{std_form.hobby1.label_tag}}
                    {{std_form.hobby2}}
                    {{std_form.hobby2.label_tag}}
                    {{std_form.hobby3}}
                    {{std_form.hobby3.label_tag}}
                    {{std_form.hobby4}}
                    {{std_form.hobby4.label_tag}}
                    {{std_form.hobby5}}
                    {{std_form.hobby5.label_tag}}
                    </td>
                </tr>
            </table>
            <br/>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>