<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Student sign up Form</title>
        <style>
            td {border: 0px black solid;}
            .errorlist:after {
                list-style-type: None;
                color:red;
            }
            .err{
                color:red;
            }
        </style>
    </head>
    <body>
        <h1>Student Login</h1>
        <form action='' method='POST' novalidate>
            {% csrf_token %}
            {% if user.non_field_errors %}
                {% for error in user.non_field_errors %}
                    <p class='err'> {{ error }} </p>
                {% endfor %}
            {% endif %}
            <table>
                {% for field in user.visible_fields %}
                    <tr> 
                        <td>{{field.label_tag}} </td>
                        <td>{{field}} {{field.errors|striptags}}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td><input type="submit" value="login"></td>
                    <td><a href="{% url 'signup' %}">Sign Up</a></td>
                </tr>
            </table>
            {% if messages %}
                {% for msg in messages %}
                    <span class='success'>{{msg}}</span>
                {% endfor %}
            {% endif %}
        </form>
    </body>
</html>