<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Student Profile</title>
    </head>
    <body>
        <h1>Welcome {{name}}</h1>
        <br/>
        <br/>
        {% if messages %}
            {% for msg in messages %}
                <span>{{msg}}</span>
            {% endfor %}
        {% endif %}
        <br/>
        <a href="{% url 'logout' %}">Log Out</a>
        <br/>
        <a href="{% url 'change_pass' %}">Change password</a>
        <br/>
        <a href="{% url 'set_pass' %}">set new password</a>
    </body>
</html>