<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Student sign up Form</title>
    </head>
    <body>
        <h1>Welcome</h1>
        <form action='' method='POST' novalidate>
            {% csrf_token %}
            <table>
                {% for field in user.visible_fields %}
                    <tr> 
                        <td>{{field.label_tag}} </td>
                        <td>{{field}} {{field.errors|striptags}}</td>
                    </tr>
                {% endfor %}
            </table>
            <br/>
            <a href="{% url 'profile' %}">Profile</a>
            <a href="{% url 'logout' %}">Log Out</a>
        </form>
        {% if messages %}
            {% for msg in messages %}
                <small {% if msg.tags %} class={{msg.tags}} {% endif %}>
                    {{msg}} </small>
                </small>
            {% endfor %}
        {% endif %}
    </body>
</html>