<!DOCTYPE html>
{% load static %}
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <style>
            th,td{
                border: 1px black solid;
            }
        </style>
        <title>Form View Test</title>
        <link rel="stylesheet" href="{% static 'crud/css/bootstrap.min.css' %}">
    </head>
    <body>
        <div class='container mt-5'>
            <h2 class='text-center alert alert-danger'>Enter Student Data</h2>
        </div>
        <div class="container">
            <div clas='row'>
                <div clas='col-sm-4'>
                    <form action="" method='POST' novalidate>
                        {% csrf_token %}
                        <div class='container'>
                            {% for field in form.visible_fields %}
                                <label> {{field.label_tag}} </label> <br/>
                                {{field}}<br/>
                            {% endfor %}
                            <br/>
                            <input type='submit' class='btn btn-success' value='Submit'>
                        </div>
                    </form>       
                </div>
            </div>
        </div>
        <script src="{% static 'crud/js/jquery.js' %}"></script>
        <script src="{% static 'crud/js/popper.js' %}"></script>
        <script src="{% static 'crud/js/bootstrap.js' %}"></script>
    </body>
</html>