<html>
    <head>
        <title>Homepage</title>
    </head>
    <body>
        <p>This template is from project level</p>
        <p>Click <a href="/app1/temp1/">Here</a> for template of app1</p>
        <p>Click <a href="/app3/temp3/">Here</a> for template of app3</p>
        <p>Click <a href="/app2/temp2/">Here</a> for template of app2</p>
        <p>Click <a href="/proj/index/">Here</a> for project at project level</p>
        <p>Click <a href="app1/proj/index/">Here</a> for project of app1</p>
        <p>Click <a href="app2/proj/index/">Here</a> for project of app2</p>
        <p>Click <a href="app3/proj/index/">Here</a> for project of app3</p>
    </body>
</html> 