<html>
    <head>
        <title>Homepage</title>
    </head>
    <body>
        <p>This template is from project level</p>
        <p>Click <a href="/app1/temp1/">Here</a> for template of app1</p>
        <p>Click <a href="/app2/temp2/">Here</a> for template of app2</p>
        <p>Click <a href="/app3/temp3/">Here</a> for template of app3</p>
        <p>Click <a href="/proj/index/">Here</a> for project at project level</p>
        <p>Click <a href="/app1/proj/index/">Here</a> for project of app1</p>
        <p>Click <a href="/app2/proj/index/">Here</a> for project of app2</p>
        <p>Click <a href="/app3/proj/index/">Here</a> for project of app3</p>
        {% comment %} <p>Click <a href="/app1/stud/">Here</a> to see student details</p>
        <p>Click <a href="/app2/register/">Here</a> for student registration</p>
        <p>Click <a href="/crud/app/">Here</a> for CRUD Application</p>
        <p>Click <a href="/loginapp/signup/">Here</a> for student sign up</p>
        <p>Click <a href="/loginapp/login/">Here</a> for student login</p>
        <p>Click <a href="/miniblog/index/">Here</a> for mini blog</p>
        <p>Click <a href="/cache/home/">Here</a> for cache api</p>
        <p>Click <a href="home/">Here</a> for custom signal</p>
        <p>Click <a href="middleware/home/">Here</a> to trigger middleware view</p> {% endcomment %}
    </body>
</html>