<!DOCTYPE html>
{% load static %}
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <style>
            th,td{
                border: 1px black solid;
            }
        </style>
        <title>CRUD App</title>
        <link rel="stylesheet" href="{% static 'crud/css/bootstrap.min.css' %}">
    </head>
    <body>
        <div class='container mt-5'>
            <h2 class='text-center alert alert-danger'> CRUD PROJECT</h2>
        </div>
        {% block content %} 
        {% endblock content%}
        <script src="{% static 'crud/js/jquery.js' %}"></script>
        <script src="{% static 'crud/js/popper.js' %}"></script>
        <script src="{% static 'crud/js/bootstrap.js' %}"></script>
    </body>
</html>